<ConsoleAppBases>
  <Items>
    <ConsoleAppBase>
      <Name>powershell</Name>
      <Path>powershell.exe</Path>
      <Arguments>-NoLogo</Arguments>
    </ConsoleAppBase>
    <ConsoleAppBase>
      <Name>cmd</Name>
      <Path>cmd.exe</Path>
      <Arguments>/Q</Arguments>
    </ConsoleAppBase>
    <ConsoleAppBase>
      <Name>git</Name>
      <Path>git.exe</Path>
      <Arguments></Arguments>
    </ConsoleAppBase>
    <ConsoleAppBase>
      <Name>gh</Name>
      <Path>C:\Program Files\GitHub CLI\gh.exe</Path>
      <Arguments>{prompt}</Arguments>
      <OneShot>true</OneShot>
    </ConsoleAppBase>
    <ConsoleAppBase>
      <Name>codex</Name>
      <Path>C:\Users\wowod\AppData\Roaming\npm\codex.cmd</Path>
      <Arguments>exec --skip-git-repo-check</Arguments>
      <OneShot>true</OneShot>
    </ConsoleAppBase>
    <ConsoleAppBase>
      <Name>gemini</Name>
      <Path>C:\Users\wowod\AppData\Roaming\npm\gemini.cmd</Path>
      <Arguments></Arguments>
      <OneShot>true</OneShot>
    </ConsoleAppBase>
    <ConsoleAppBase>
      <Name>copilot</Name>
      <Path>C:\Users\wowod\AppData\Local\Microsoft\WinGet\Packages\GitHub.Copilot_Microsoft.Winget.Source_8wekyb3d8bbwe\copilot.exe</Path>
      <Arguments>-p {prompt} --model "gpt-5-mini"</Arguments>
      <OneShot>true</OneShot>
    </ConsoleAppBase>
  </Items>
</ConsoleAppBases>
