@using SymBlazor.Graphing

<li class="expression-tree-item">
    <div class="expression-tree-node">@Node.Label</div>
    @if (Node.Children.Count > 0)
    {
        <ul class="expression-tree-children">
            @foreach (var child in Node.Children)
            {
                <ExpressionTreeNodeView Node="@child" />
            }
        </ul>
    }
</li>

@code {
    [Parameter, EditorRequired] public GraphMath.ExpressionTreeNode Node { get; set; } = new("", Array.Empty<GraphMath.ExpressionTreeNode>());
}
